<div class="card">
  <h5 class="card-header">Exchange {{data.exchange_name}}</h5>
  <div class="card-body">
    <p class="card-text">
          <p> Business Type :  {{data.business_type}}</p>
          <p> Business Name :  {{data.business_name}}</p>
          <p> MailBox :  {{data.mailbox}}</p>
          <p> Office License :  {{data.office_license}}</p>
          <p> Current Email Provider :  {{data.current_email_provider}}</p>
          <p> Number of employees :  {{data.number_of_employees}}</p>
          <p> Average Size of Mailbox :  {{data.average_size_of_mailbox}}</p>
          <p> Migration Required :  {{data.migration_required}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>