<div class="card">
  <h5 class="card-header">Virtual Machine {{data.virtual_machine_name}}</h5>
  <div class="card-body">
    <p class="card-text">
          <p> Datacenter :  {{data.datacenter}}</p>
          <p> Operating System :  {{data.operating_system}}</p>
          <p> System Disk :  {{data.system_disk}}</p>
          <p> Data Disk :  {{data.data_disk}}</p>
          <p> Network Throughput :  {{data.network_throughput}}</p>
          <p> Memory :  {{data.memory}}</p>
          <p> vCPU :  {{data.vcpu}}</p>
          <p> Applications :  {{data.applications}}</p>
          <p> Fully Managed :  {{data.fully_managed}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>