<div class="card">
  <h5 class="card-header">VOIP {{data.voip_name}}</h5>
  <div class="card-body">
    <p class="card-text">
          <p> Business Type :  {{data.business_type}}</p>
          <p> Business Name :  {{data.business_name}}</p>
          <p> Extension :  {{data.extension}}</p>
          <p> Locations :  {{data.locations}}</p>
          <p> DiD Existing Local Number :  {{data.did_existing_local_number}}</p>
          <p> DiD New Local Number :  {{data.did_new_local_number}}</p>
          <p> Fax Numbers :  {{data.fax_numbers}}</p>
          <p> Current phone provider :  {{data.current_phone_provider}}</p>
          <p> Number of employees :  {{data.number_of_employees}}</p>
          <p> TFs Existing Toll-Free Numbers :  {{data.tfs_existing_toll_free_numbers}}</p>
          <p> TFs New Toll-Free Numbers :  {{data.tfs_new_toll_free_numbers}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>