{% load widget_tweaks %}
<div class='row slider_row'>
  <div class="col-sm-12 col-md-8">
{% render_field field type="range" class="slider" %}
</div>
  <div class="col-sm-12 col-md-12">
<div class="btn-group" role="group" aria-label="Basic example"><button type="button" class="btn btn-sm fuse-ripple-ready input_calc"  btn="{{ field.html_name}}_minus" ><i class="icon-minus fas fa-minus"></i></button>{% render_field field type="number"  class+="input_calc_number"  %}<span class='input_calc_number_prefix'>{% if prefix %}{{ prefix }}{% endif %}</span><button type="button" class="btn btn-sm fuse-ripple-ready input_calc" btn="{{ field.html_name}}_plus" ><i class="icon-plus fas fa-plus"></i></button></div>
</div>
</div></br>
<script type="text/javascript" data-cfasync="false">
$( document ).ready(function() {
  $( "[btn='{{ field.html_name}}_minus']" ).click( function()  {
    var a = $( "input[name='{{ field.html_name}}']").val();
    $( "input[name='{{ field.html_name}}']").val( Number(a) - 1 ).trigger('change') ;
  })

  $( "[btn='{{ field.html_name}}_plus']" ).click( function()  {
    var a = $( "input[name='{{ field.html_name}}']").val();
    $( "input[name='{{ field.html_name}}']").val( Number(a) + 1 ).trigger('change') ;
   })

  $("input[name='{{ field.html_name}}']").change( function() {
    $("input[name='{{ field.html_name}}']").val( $(this).val() )
    $.post( '{{call}}{{ field.html_name}}' , { 'csrfmiddlewaretoken': '{{ csrf_token }}' , '{{ field.html_name}}' : $( this ).val() } ).done(function( data ) {
      console.log(data)
        $("#price_{{ form_id }}").text('   '+ data.total + ' $')
        if (data.saving != 0) {
        $("#saving_{{ form_id }}").text('  Saving ( '+ data.saving + ' $ )')
        }else{
        $("#saving_{{ form_id }}").text(' ')
      }
    })
  })
  })
</script>
