
<div class="col-sm-12 col-md-4">
	<div class="card">
		<div class="card-header" id='prod_list'>
			<i class="icon s-4 icon-cart"></i> Product List
		</div>
		<div class="card-body productlist">
			<p class="card-text">
				<div class="tablewrap">
				<table class="table shopping-cart-product " >
				<tbody id='r_table'>
					<tr>
						<th scope="row"><h5 class='p-3 mb-2 bg-success text-white'> {{ MSG }} </h5></th>
						<td><result class='fr' ></result></td>
					</tr>
				</tbody>
				</table>
				</div>
			</p>

		</div>
	</div>
</div>
